* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    outline: none;
}

body {
    background-color: black;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100dvh;
    width: 100%;
    padding: 20px;
}

.container-left {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.container-right {
    width: 35%;

    background: linear-gradient(
        180deg,
        #ffffff 0%,
        #ecfdf5 35%,
        #bbf7d0 100%
    );

    color: #166534;

    padding: 10px 40px;
    border-radius: 25px;

    box-shadow:
        0 0 20px rgba(34, 197, 94, 0.25),
        inset 0 0 30px rgba(34, 197, 94, 0.15);
}

.draw-numbers {
    margin-top: 30px;
    text-align: center;
}

.mural {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.mural span {
    background-color: green;
    border-radius: 8px;

    padding: 12px 16px;
    min-width: 40px;
    text-align: center;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: auto;
}

.draw-numbers p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
}


@keyframes spin {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}


@keyframes explode3D {
    0% {
        transform: scale(1) rotateX(0) rotateY(0);
        opacity: 1;
    }

    50% {
        transform: scale(1.8) rotateX(180deg) rotateY(180deg);
        opacity: 1;
    }

    100% {
        transform: scale(4) rotateX(360deg) rotateY(360deg);
        opacity: 0;
    }
}

.exploding {
    animation: explode3D 0.7s ease-out forwards;
}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-80px, 40px);
    }

    50% {
        transform: translate(80px, -40px);
    }

    75% {
        transform: translate(-64px, 36px);
    }

    100% {
        transform: translate(0);
    }
}

.shake {
    animation: shake .6s;
}


.cube-wrapper {
    position: relative;
    width: min(350px, 80vw);
    height: min(350px, 80vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bounceIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    60% {
        transform: scale(1.3);
        opacity: 1;
    }

    80% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}


.show {
    animation: bounceIn 0.6s ease-out forwards;
}

.hidden {
    display: none;
}



.cube-image {
    width: 350px;
    height: 350px;
    position: relative;
    top: 0;
    animation: spin 3s linear infinite;
    padding: 20px;
}

h1 {
    font-size: 7rem;
    position: relative;
    bottom: 5%;
}

.paused {
    animation-play-state: paused;
}

.result-number {
    position: absolute;
    font-size: 10rem;
    font-weight: bold;
    color: #22c55e;
    text-shadow: 0 0 30px rgba(34, 197, 94, 0.9);
}


.prize-draw {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    gap: 35px;

    & p {
        font-size: 3rem;
    }
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    appearance: none;

    & .num-min,
    & .num-max {
        font-size: 1.2rem;
        padding: 18px;
        background-color: rgb(70, 70, 70);
        color: rgb(255, 255, 255);
        border-radius: 15px;
    }

    & .num-min::placeholder,
    & .num-max::placeholder {
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        text-align: center;
    }


}

.container-btn {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn-draw {
    padding: 15px 80px;
    color: white;
    background-color: green;
    box-shadow:
        inset 0 0 6px rgba(34, 197, 94, 0.35),
        0 0 12px rgba(34, 197, 94, 0.45);
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        opacity: .8;
        transition: .5s;
    }

    &:active {
        opacity: .6;
        transform: scale(.98);
        transition: .2s;
    }
}

.refresh {
    width: 45px;
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 1060px) {
    .wrapper {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .container-right {
        order: 2;
        width: 100%;
    }

    .container-left {
        order: 1;
        width: 100%;
    }

    .numbers .num-max,
    .num-min {
        width: 140px;
    }

    .btn-draw {
        width: 240px;
    }

    .cube-image {
        width: 260px;
        height: 260px;
    }

    .mural {
        width: 100%;
        min-height: 100vh;
        padding: 40px;
        margin-top: 20px;
        border-radius: 20px;
    }

    h1 {
        font-size: 4rem;
    }

    .result-number {
        font-size: 6rem;
    }
}